.buttonsignout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-top: 0.5rem;
}

.buttonsignout__btn {
  padding: 0.8rem 1.2rem;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
}
