.contactme {
  position: relative;
  left: -2rem;
  bottom: -2rem;
  width: calc(100% + 3rem);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--grey);
  border-top: 0;
  margin: 0.5rem;
  padding: 1.5rem 0;
}

.contactme__title {
  font-size: 1.6rem;
}

.contactme__subtitle {
  font-size: 1.1rem;
  color: var(--white);
}

.contactme__text {
  font-size: 1.2rem;
}

.contactme__mail {
  margin: 1rem 0;

  color: var(--white);
  font-size: 1.2rem;
}

.contactme__mail > span {
  padding: 1rem 1.2rem;
  background-color: var(--grey);
}


