.custom-button {
  color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 5px;
  background-color: var(--background-color);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-height: 52px;
  padding: 0 .7rem;
}

.custom-button:hover {
  border: 2px solid var(--background-color);
  background-color: #ccc;
  color: black;
}

.custom-button:active {
  background-color: var(--white);
  color: black;
}

.custom-button.max-size {
  max-width: var(--max-size, none);
  margin: auto;
}