.custom-button {
  padding: 0.8rem 1.2rem;
  color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 5px;
  background-color: var(--background-color);
  height: fit-content;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  min-height: 52px
}

.custom-button:hover {
  border: 2px solid var(--background-color);
  background-color: #ccc;
  color: black;
}

.custom-button:active {
  background-color: var(--white);
  color: black;
}
