
.linkmodal {
  display: flex;
  align-items: end;
  text-align: start;
  color: var(--white);
  cursor: pointer;
  padding:  .1rem .5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.linkmodal:hover {
  background-color: #ccc;
  color: var(--background-color);
}
.linkmodal:hover > svg {
  color: var(--very-gery);
}
.linkmodal:hover svg path {
  stroke: var(--very-gery) !important;
  /* border: 1px solid red; */
}
.linkmodal > * {
  margin-right: 1.5rem;
}