.modal {
  position: relative;
}
.modal > button {
  display: flex;
  justify-content: center;
}

.modal__wrapper {
  display: grid;
  gap: 1.5rem;
  position: absolute;
  right: 0;
  top: 3.5rem;
  background-color: var(--bg-ligth);
  box-shadow: var(--bs-page);
  padding: 2rem 1.5rem;
  min-width: 270px;
  border-radius: .5rem;
  z-index: 1;
}

.modal__wrapper > svg {
  justify-self: end ;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal__toggle {
  padding: 0.8rem 1.2rem;
  color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 5px;
  background-color: var(--background-color);
}

.modal__toggle:hover {
  border: 2px solid var(--grey);
  background-color: #ccc;
  color: var(--background-color);
}

.modal__toggle:active {
  background-color: var(--white);
  color: var(--background-color);
}