.modal {
  position: relative;
}

.modal > button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal__wrapper {
  display: grid;
  gap: 1.5rem;
  position: var(--position);
  right: var(--right);
  top: var(--top);
  left: var(--left);
  bottom: var(--bottom);
  background-color: var(--bg-ligth);
  box-shadow: var(--bs-page);
  padding: 2rem 1.5rem;
  width: clamp(12.5rem, 100%, 1440px - 4rem);
  min-width: 270px;
  border-radius: 0.5rem;
  z-index: 1;
}

.modal > button > svg > path {
  stroke: var(--white);
} 

.modal__wrapper > svg {
  justify-self: end;
}

.modal__header {
  display: grid;
  grid-template:
    "title close" 1fr
    "hr hr" auto/ auto 34px;
  gap: 1rem;
}

.modal__header > .hr {
  grid-area: hr;
}

.modal__toggle {
  padding: 0.8rem 1.2rem;
  color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 5px;
  background-color: var(--background-color);
}

.modal__toggle:hover {
  border: 2px solid var(--grey);
  background-color: #ccc;
  color: var(--background-color);
}

.modal__toggle:active {
  background-color: var(--white);
  color: var(--background-color);
}

.modal__toggle--border-error {
  border: 1px solid var(--red-300);
}
