.navbar {
  display: flex;
  z-index: 20;
  gap: 0.5rem;
}

.navbar__buttonbox {
  display: grid;
  gap: 1rem;
  align-content: center;
  align-self: start;
}


.navbar__header {
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  color: var(--white);
}
.navbar__header > span {
  color: var(--white);
  align-self: center;
}
