.navbar {
  display: grid;
  z-index: 20;
  gap: 1rem;
  max-height: 45px;
}

.navbar__wrapper {
  display: grid;
  grid-template: "acount config";
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.navbar__buttonbox {
  display: grid;
  gap: 1rem;
  align-content: center;
  align-self: start;
}

.navbar__container {
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
  display: none;
}

.navbar__wrapper > .navbar--circle--acount {
  grid-area: acount;
}

.navbar__wrapper > .navbar--circle--config {
  grid-area: config;
}

.navbar--circle {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.navbar__header {
  display: grid;
  gap: 1rem;
  color: var(--white);
  justify-self: center;
}

.navbar__profile-picture {
  width: 60px;
  height: 60px;
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid var(--grey);
  background-color: var(--background-color);
}

.navbar__hamburger {
  display: none;
}

/* mobile */
@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar__wrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    background-color: var(--bg-ligth);
    padding: 0.5rem 0.3rem;
    box-shadow: var(--bs-page);
    border-radius: 0.5rem;
    border: 1px solid var(--grey);
    justify-self: center;
  }

  .navbar__wrapper > .modal {
    display: flex;
    justify-content: center;
  }

  .navbar__hamburger {
    display: unset;
    color: white;
    justify-self: center;
  }

  .show {
    display: flex;
  }

  .navbar__wrapper > .modal > .modal__wrapper {
    top: 0;
    right: 4.5rem;
  }
}

.navbar__container {
  border: 2px solid transparent;
  width: 46px;
  height: 46px;
}

.error {
  border: 2px solid var(--white);
  position: absolute;
  border-radius: 50%;
  background-color: var(--grey);
  display: initial;
  animation: errorstate 2s ease infinite;
  -webkit-animation: errorstate 2s ease infinite;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

@keyframes errorstate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
