.delivery {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-items: center;
}

.delivery__form {
  display: flex;
  gap: 0.5rem;
}
.delivery__form > button:last-child {
  margin-top: 2rem;
}

.delivery__row {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 50px;
  gap: 0.5rem;
}

.delivery__row--header {
  margin-bottom: 0.5rem;
}

.delivery__row > span {
  color: white;
  padding-left: 0.5rem;
  text-transform: capitalize;
  border-right: 2px solid var(--very-gery);
  border-bottom: 2px solid var(--very-gery);
  padding-bottom: 0.2rem;
}

.valueroutes {
  display: grid;
  grid-template:
    "title title"
    "container1 container2";
  gap: 1rem;
}

.valueroutes__header {
  grid-area: title;
  display: flex;
  justify-content: space-between;
}

.valueroutes__row {
  display: flex;
  flex-direction: column;
}

.valueroutes__container-row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}
.valueroutes__columname {
  color: white;
  margin-bottom: 0.3rem;
}
