.password{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 550px;
    height: fit-content;
    justify-items: center;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 1rem 2rem;
    margin:  auto
}

.password  > form > button {
    margin-top: 2rem;
}