.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
}

.profile__picture {
  width: fit-content;
  justify-content: center;
  display: flex;
  padding: 1rem 0;
  margin: 0.5rem auto;
  align-items: center;
  position: relative;
}

.profile__picture > .modal {
  color: black;
  padding: 0.5rem 0.6rem;
  background-color: var(--very-gery);
  border-radius: 0 0.5rem 0 50%;
  border-end-start-radius: 0.5rem;
  position: absolute;
  top: 0.95rem;
  right: -1px;
}

.profile__picture > .modal > .modal__wrapper {
  min-width: 400px;
  right: calc(50% - 100px);
  top: -3rem;
}

.profile__img {
  width: clamp(12rem, 15rem + 4vw, 18rem);
  height: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}

.profile__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.preview {
  position: relative;
}

.preview__image {
  max-width: 12.5rem;
}

.preview > .closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

.profile > form {
  gap: 1rem;
}

.profile > form > button {
  margin-top: 2rem;
}

.profile__header {
  display: flex;
  justify-content: space-between;
}

.profile__header button {
  color: white;
}
