.sendIcon {
  display: grid;
  place-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid var(--very-gery);
}

.sendIcon > svg,
path {
  stroke: var(--white);
}

.sendIcon:hover > svg > path {
  stroke: var(--very-gery);
}

.sendIcon:hover {
  background-color: var(--very-gery);
  border: 1px solid var(--very-gery);
}

.sendIcon:active {
  background-color: var(--grey);
  border: 1px solid var(--very-gery);
}
.sendIcon:active > svg > path {
    fill: #89f0ad;
}