:root {
  --background-color: #171717;
  --bg-ligth: #1d1d1d;
  --very-gery: #27272a;
  --white: #fafafa;
  --red-50: rgb(255, 238, 238);
  --red-100: #ffdada;
  --red-200: #ffbbbb;
  --red-300: rgba(255, 139, 139, 1);
  --red-600: #ff0000;
  --red-800: #be0000;
  --red-900: #560000;
  --grey: #2c2c2c;

  --bs-page: 6px 6px 6px rgba(17, 17, 17, 0.9);
  --bs-header: 0px 6px 6px rgba(17, 17, 17, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: var(--background-color);
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--background-color);

  font-size: 1.1em;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: var(--red-300);
}

label {
  display: flex;
  flex-direction: column;
  color: var(--red-50);
}
span,
input[type="text"] {
  font-size: 1rem;
}
input::placeholder,
select {
  color: var(--red-50);
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  padding: 0.8rem 0.6rem;
  background-color: var(--very-gery);
  outline: none;
  border: transparent;
  color: white;
  border-radius: 0.3rem;
  min-height: 3.25rem;
}

label > input[type="text"],
select {
  margin-top: 0.3rem;
}

input[type="text"] :hover,
input[type="text"] :active {
  color: #18181b;
}

svg:hover > path {
  stroke: var(--red-200);
}

button {
  font-size: 1em;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

option {
  color: var(--white);
}

h3,
p,
h4 {
  color: var(--red-50);
}

h4 {
  font-size: 1.5rem;
}

.page {
  min-width: 550px;
  width: fit-content;
  height: fit-content;
  box-shadow: var(--box-shadows);
  background-color: var(--bg-ligth);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 2rem auto;
}

.page > form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
