:root {
  --background-color: #171717;
  --bg-ligth: #1d1d1d;
  --very-gery: #27272a;
  --white: #fafafa;
  --red-50: rgb(255, 238, 238);
  --red-100: #ffdada;
  --red-200: #ffbbbb;
  --red-300: rgba(255, 139, 139, 1);
  --red-600: #ff0000;
  --red-800: #be0000;
  --red-900: #560000;
  --grey: #2c2c2c;

  --bs-page: 6px 6px 6px rgba(17, 17, 17, 0.9);
  --bs-header: 0px 6px 6px rgba(17, 17, 17, 0.9);
  --bs-form: 6px 8px 8px rgba(39, 39, 42, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
  border: none;
}

body {
  background-color: var(--background-color);

  font-size: 1.1rem;
}

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--white);
}

label {
  color: var(--white);
}

span,
input[type="text"] {
  font-size: 1rem;
}

input::placeholder,
select {
  color: var(--red-50);
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  padding: 0.8rem 0.6rem;
  background-color: var(--very-gery);
  outline: none;
  color: white;
  min-height: 3.25rem;
}

input[type="text"] :hover,
input[type="text"] :active {
  color: #18181b;
}

button {
  font-size: 1em;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border: transparent;
  cursor: pointer;
}

option {
  color: var(--white);
}

h3,
p,
h4 {
  color: var(--white);
}

h4 {
  font-size: 1.5rem;
}

.page {
  width: clamp(300px, 100%, 1440px);
  height: fit-content;
  box-shadow: var(--box-shadows);
  background-color: var(--bg-ligth);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 2rem auto;
}

.page > form {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#print-section {
  visibility: hidden;
}

.print-component__container{
  display: none;
}

.default-user{
  justify-self: center;
}

html,
body {
  zoom: 100%; 
}

@media print {
  body {
    zoom: 100%;
    font-size: 12pt;
  }
}

