.header {
  display: grid;
  grid-template: ". title config" / 88px 1fr 88px;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.header__title {
  grid-area: title;
  width: fit-content;
  margin: 0 auto;
}

.header > .navbar {
  grid-area: config;
}
