.header {
  display: grid;
  grid-template: "title navbar";
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  background-color: var(--bg-ligth);
  box-shadow: var(--bs-header);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.header__title {
  grid-area: title;
  width: fit-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__title > h1 {
  border: 2px solid var(--red-300);
  border-radius: 5px;
  padding: 0.2rem 0.6rem;
  height: fit-content;
  color: var(--red-300);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(0.6rem, 0.6rem + 1.5vw, 2rem);
}

.header__title span {
  color: white;
  font-size: clamp(0.6rem, 0.5rem + 1.5vw, 1.6rem);
  height: fit-content;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.header > .navbar {
  grid-area: navbar;
  justify-self: end;
}

@media (max-width: 750px) {
  .header {
    gap: 0.5rem;
    padding: 1rem 1.2rem;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0.8rem 0.5rem;
  }
}
